main {
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-anuncio-container {
  position: relative;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 85%;
  margin: auto;
}

.form-anuncio-container h2 {
  text-align: center;
  margin-bottom: 19px;
  color: #111;
  font-size: 14px;
}

form label {
  font-size: 14px;
  display: block;
  margin: 0.8rem 0 0.2rem;
  font-weight: 600;
}

form input,
form textarea,
form select {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0.6rem;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form button {
  margin-top: 24px;
  width: 100%;
  background-color: #FFD000;
  border: none;
  color: #333;
  font-weight: bold;
  padding: 14.5px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: #e0b000;
}

.imagen-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.img-prev {
  width: 100%;
  max-width: 130px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn-cerrar {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  background-color: #c40000;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-weight: bold;
  z-index: 10;
  transition: background-color 0.2s ease-in-out;
}
.btn-cerrar:hover {
  background-color: #a00000;
}

@media (min-width: 768px) {
  .form-anuncio-container {
    max-width: 600px;
  }

  .form-anuncio-container h2 {
    font-size: 22px;
  }

  form label {
    font-size: 16px;
  }

  form button {
    font-size: 18px;
  }

  form input, form textarea, form select {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .form-anuncio-container {
    display: flex;
    gap: 32px;
    max-width: 950px;
  }

  .form-anuncio-container h2 {
    display: none;
  }

  form {
    flex: 1;
  }

  .imagen-preview {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 200px;
    margin-right: 24px;
    margin-top: 8px;
  }

  .img-prev {
    width: 140px;
    height: auto;
  } 
}
